@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

@import url('./spinner.css');
@import url('./animations.css');

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  overflow: hidden;
}
.font-secondary{
  font-family: 'Lobster', cursive;
}

.triangle{
  clip-path: polygon(0 0, 0% 100%, 100% 100%);
}
.main{
  padding-top: 45px;
  padding-bottom: 15px;
  overflow: scroll;
  flex: 1;
  scrollbar-width: thin;
}

.main::-webkit-scrollbar{
  width: 0;
}
.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
}
.fadeIn{
  animation: fadeIn 1s ease-in-out;
}

.fadeInUp {
  animation: fadeInUp 1s ease-in-out;
}

.bounce {
  transform-origin: center bottom;
  animation: bounce 1s linear;
  animation-delay: 2s;
  animation-iteration-count: 2;
}